<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../reveal/dist/reveal.css">
        <link rel="stylesheet" href="../../reveal/dist/theme/beige.css" id="theme">
		<link rel="stylesheet" href="../../reveal/plugin/highlight/custom.css">
	</head>

	<body>
		<div class="reveal">
			<div class="slides">
                {{ content }}
            </div>
		</div>
        <div style="position:fixed;bottom:0;left:0;width:100%;text-align: center;height:30px;background-color:black;color:white">
            (C) Nacho Iborra. No se permite el uso, modificación o distribución sin autorización previa por escrito
        </div>        

		<script src="../../reveal/dist/reveal.js"></script>
		<script src="../../reveal/plugin/zoom/zoom.js"></script>
		<script src="../../reveal/plugin/markdown/markdown.js"></script>
		<script src="../../reveal/plugin/highlight/highlight.js"></script>
		<script>

			// Also available as an ES module, see:
			// https://revealjs.com/initialization/
			Reveal.initialize({
				controls: false,
				progress: false,
				center: true,
                hash: true,
                width: "100%",

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealZoom, RevealMarkdown, RevealHighlight ]
			});

		</script>

	</body>
</html>
